.fontsize-14{
    font-size: 14px;
}
.fontsize-16{
    font-size: 16px;
}
.fontsize-18{
    font-size: 18px;
}
.fontsize-22{
    font-size: 22px;
}
.fontsize-24{
    font-size: 24px;
}
.fontsize-28{
    font-size: 28px;
}
.fontsize-32{
    font-size: 32px;
}

.table{
    overflow-x: scroll;
}

table {
    width: max-content;
}

th,td{
    cursor: pointer;
}

.tooltip.show {
    opacity: 1;
  }
  
  .tooltip-inner {
    background-color: #ff0000;
    opacity: 1 !important;
  }
  
  .tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #ff0000 !important;
  }
  
  .tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #ff0000 !important;
   }
   
   .tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #ff0000 !important;
   }
   
   .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #ff0000 !important;
   }