.fontsize-14{
    font-size: 14px;
}
.fontsize-16{
    font-size: 16px;
}
.fontsize-18{
    font-size: 18px;
}
.fontsize-22{
    font-size: 22px;
}
.fontsize-24{
    font-size: 24px;
}
.fontsize-28{
    font-size: 28px;
}
.fontsize-32{
    font-size: 32px;
}